fastapi
uvicorn
python-dotenv
vllm
huggingface_hub>=0.20.0
huggingface_hub[cli]
huggingface_hub[torch]
huggingface_hub[transformers]
huggingface_hub[all]
huggingface_hub[diffusers]
huggingface_hub[vision]
huggingface_hub[audio]
huggingface_hub[onnx]
huggingface_hub[keras]
huggingface_hub[flax]
huggingface_hub[tensorflow]
huggingface_hub[torch]
iointel
openai
faiss-cpu
chromadb
requests
